body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1c1c1c;
    color: #f4f4f4;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

header.scrolled {
    background-color: #222;
}

header .logo img {
    height: 75px; /* Adjust as needed */
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li {
    margin: 0;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #d9534f;
}

.hero {
    background-image: url('zombie-background.jpg'); /* Main background image */
    background-size: cover;
    background-position: center;
    color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    position: relative;
    overflow: hidden;
}

.hero::before {
    content: "";
    background-image: url('slike/odzadje.png'); /* Add your welcome background image */
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5; /* Adjust the opacity as needed */
    z-index: 0;
}

.hero-content {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    animation: slide-in 1s ease-out;
}

.hero h1 {
    font-size: 3em;
    margin: 0;
    animation: fade-in 2s ease-in-out;
}

.hero p {
    font-size: 1.5em;
    margin: 10px 0 0;
}

.window-image {
    margin-top: 20px;
    max-width: 100%;
    border-radius: 10px;
    animation: fade-in 2s ease-in-out;
}

main {
    padding: 80px 20px 20px;
    margin-top: 60px;
}

main section {
    margin-bottom: 40px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

main section.animate {
    opacity: 1;
    transform: translateY(0);
}

main h2 {
    color: #d9534f;
    border-bottom: 2px solid #d9534f;
    padding-bottom: 10px;
}

main p, main ul {
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    text-align: center;
    padding: 20px 0;
    color: #fff;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slide-in {
    from {
        transform: translateY(-100px);
    }
    to {
        transform: translateY(0);
    }
}